extends layout

block content
    h1= title
    p Beta Doctor Patient Application

    // Wrapper
    #wrapper

        // USER INFO
        #userInfo
            h2 Patient Info
            p
                strong Name:
                |  <span id='userInfoName'></span>
                br
                br
                strong Age:
                |  <span id='userInfoAge'></span>
                br
                br
                strong Hospital:
                |  <span id='userInfoHospital'></span>
                br
                br
                strong Stage:
                |  <span id='userInfoStage'></span>
                br
                br
                strong Relation:
                |  <span id='userInfoRelation'></span>
                br
                br
                strong Email:
                |  <span id='userInfoEmail'></span>

        // /USER INFO

        // USER LIST
        h2 Patient List
        #userList
            table
                thead
                    th Patient Name
                    th Entry Date
                    th Admitted Doctor
                    th Last Visit
                    th Notes
                    th Patient ID
                    th Remove
                tbody
        // /USER LIST


        // ADD USER
        h2 Add Patient
        #addUser
            fieldset
                input#inputUserFullname(type='text', placeholder='Full Name')
                input#inputUserAge(type='text', placeholder='Age')
                input#inputUserEmail(type='text', placeholder='Email')
                br
                input#inputUserHospital(type='text', placeholder='Hospital')
                input#inputUserStage(type='text', placeholder='Stage')
                input#inputUserRelation(type='text', placeholder='Relation')
                br
                input#inputUserEntryDate(type='text', placeholder='Entry Date')
                input#inputUserAdmittedDoctor(type='text', placeholder='Admitted Doctor')
                input#inputUserLastVisit(type='text', placeholder='Last Visit')
                br
                input#inputUserNotes(type='text', placeholder='Notes')
                br
                br
                br
                button#btnAddUser Add User
        // /ADD USER

    // /WRAPPER