extends layout

block content
    h1= title
    form#formAddUser(name="adduser",method="post",action="/adduser")
        input#inputUserName(type="text", placeholder="username", name="userName")
        input#inputUserEmail(type="text", placeholder="useremail", name="userEmail")
        button#btnSubmit(type="submit") submit